@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Funky Pink-Gray Gradient Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to top left, #d3d3d3, #e6e6e6);
  /* Lighter gray for track */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff4d94, #a9a9a9);
  /* Funky diagonal gradient */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* Adding some shadow for depth */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff3385, #8a8a8a);
  /* Darker gradient on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  /* Hover shadow effect */
}

@font-face {
  font-family: 'fount1';
  src: url('../public/fonts/DrawKidsRegular-9M34j.ttf');
}

@font-face {
  font-family: 'fount2';
  src: url('../public/fonts/MaberaDemoVersionRegular-vnJ1Z.ttf');
}

@font-face {
  font-family: 'fount3';
  src: url('../public/fonts/SharedArenaDemo-nAa7V.ttf');
}

@font-face {
  font-family: 'fount4';
  src: url('../public/fonts/StarlightHorizonItalic-KV8rX.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'fount4';
}

p {
  font-family: 'fount1';
}

button,
textarea {
  font-family: 'fount4';
}

a,
input {
  font-family: 'fount3';
}